.blue { background: blue }
.grey { background: grey }

.chats-row-container {
    height: 100vh;
    border: 1px solid #ddd;
}

.chats-row {
    height: 92vh;
    padding-top: 10px;
    overflow: auto;
}

.selected-chat-row {
    background: #3498db;
}

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.current-chat {
    height: 100vh;
    border: 1px solid #ddd;
}


.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 92vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;
}
